<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改学生信息 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="login.css"/>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    学生作业管理系统
                </h1>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>货物出库</small>
                </h1>
            </div>
        </div>
    </div>


    <form action="" name="userForm">
        <input type="hidden" th:name="id" th:value="${Product.id}"/>
        货物名称：<input type="text" th:name="name"  th:value="${Product.name}"/>
        当前数量：<input type="text" th:name="quantity"  th:value="${Product.quantity}"/>
        当前数量：<input type="text" th:name="info"  th:value="${Product.info}"/>
        当前数量：<input type="text" th:name="position"  th:value="${Product.position}"/>
        当前数量：<input type="text" th:name="intime"  th:value="${Product.intime}"/>
        出库数量：<input placeholder="请输入出库的数量" type="text"  name="out" id="out" class="text_field"/>
        出库数量：<input placeholder="请输入出库的时间" type="text"  name="outtime" id="outtime" class="text_field"/>

        <input type="button" value="出库" onclick="deliveryProduct()"/>
    </form>
    <script type="text/javascript">
        function deliveryProduct() {
            var form = document.forms[0];
            form.action = "/deliveryProduct";
            form.method = "post";
            form.submit();
        }
    </script>
</div>
